html {
    position: relative;
    min-height: 100%;
    font-size: 16px;
}
body {
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    color: #696969;
    line-height: 1.444;
    background-color: #ffffff;
    word-wrap: break-word;
    margin-top:72px;
}
a:focus, a:hover{
    text-decoration: none;
}
/* Overlay */
.overlay {
    position: absolute;
    z-index: 2;
    max-height: 100%;
    height:100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.overlay-sm {
    width:30%;
}
.overlay-md {
    width:50%;
}
.overlay-lg{
    width:80%;
}
.overlay-max{
    width:100%;
}
.overlay img{
    top:0;
    bottom: 0;
    margin: auto;
}
.main img {
    display: block;
    max-width:100%;
    padding: 10px 0px;
}
.main p {
    font-size: 16px;
    line-height: 26px;
}
.navbar{
    min-height:72px;
}
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    margin:0;
    padding-top:0;
}
.navbar-default .navbar-nav > li > a{
    font-size: 24px;
}
.navbar-default .navbar-nav > li > form {
    /* (72px - button height of 34px) / 2 = 19px */
    padding-top:19px;
}

.navbar-default {
    background-color: #3c3d41;
    border-color: #3c3d41;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #f444e1;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #f444e1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #1796ee;
    background-color: #3c3d41;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #1796ee;
    background-color: #3c3d41;
}
.navbar-default .navbar-toggle {
    border-color: #3c3d41;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #3c3d41;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #1796ee;
}
#quick-links{
    background-image: url("/img/mountain_background.jpg");
    padding:20px;
}
/* Header create*/
#header .create{
    padding-top:20px;
}
/* Sidebar */
#secondary{
    padding-top:20px;
}
.panel{
    border:0;
}
.panel-default > .panel-heading{
    padding: 10px;
    text-align:center;
    text-transform:uppercase;
    background-color: #3c3d41;
}
.panel-heading h4{
    font-size: 16px;
    line-height: 22px;
    color:white;
}
.panel-body{
    padding: 10px;
}
.secondary .panel-body a{
    color: #4e5056;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}
.panel-body a:hover, .panel-body a:focus {
    color: #1796ee;    
}

.list-group-item {
    position: relative;
    display: block;
    padding: 5px 5px;
    margin-bottom: -1px;
    border: 0;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border: 0;
}
.carousel img {
    min-width: 100%;
}
/* Post styling */
.read-more {
    text-align: center;
}
.read-more a {
    color: #696969;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    line-height: 0.7;
    border-left: 2px solid #696969;
    border-right: 2px solid #696969;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
}
.post-title-wrapper{
    background: #000;
    background: rgba(0, 0, 0, 0.5);
}
.post-title{
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 5px;
}
.post-content img {
    display: block;
    max-width:100%;
}

.post-header{
    position:relative;
    margin-bottom:25px;
}
.post-meta-group-1 {
    margin-bottom: 25px;
    opacity: 0.6;
}
.post-content p {
    font-size: 15px;
    line-height: 28px;
}
.img-fill{
    display: block;
    max-width:100%;
    min-width:100%;
}
.img-preview{
    margin: 0;
    width:300px;
    height:150px;
    margin-right:auto;
    margin-left:auto;
}

.subtitle{
    font-size: 25px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight:bold;
}

.preview-container{
    overflow: hidden;
    text-align:center;
    text-overflow: ellipsis;
}
.preview-title {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.preview-title a{
    color: #4e5056;
}
.preview-title a:hover, .preview-title a:focus {
    color: #1796ee;
}
.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.preview-bottom{
    position: absolute;
    bottom:0px;
    padding: 0 15px;
    right:0px;
}
.content-fill {
    padding:0;
    width: 100%;
    height:100%;
    left: 0;
    bottom:0;
    background-repeat: no-repeat;
    background-position: top center;
}
article {
    font-size: 14px;
    line-height: 24px;
}
#comments, #comments li {
    margin: 0;
    padding: 0;
}
#comments li {
    list-style: none;
}
.image-gallery img{
    padding: 5px;
}

/*****************************************/
/* .footer {                             */
/*     position: absolute;               */
/*     bottom: 0;                        */
/*     width: 100%;                      */
/*     height: 60px;                     */
/*     background-color: #f5f5f5;        */
/*     text-align: center;               */
/*     verical-align: center !important; */
/* }                                     */
/*****************************************/
#footer {
    background-color: #3c3d41;
    color: white;
    padding-top: 20px;
    margin-top: 20px;
}

#footer .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}
#footer .row {
    margin-bottom: 20px;
}
#footer .footer-copyright p {
    margin: 10px;
    color: #ccc;
}
#footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}
#footer h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}
#footer .logo-wrap {
    max-width: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#footer h2 a img{
    max-width:100%;
    top:0;
    bottom: 0;
    margin: auto;
}
#footer a {
    color: #d2d1d1;
    text-decoration: none;
}
#footer a:hover,
#footer a:focus {
    text-decoration: none;
    color: #f444e1;
}
#footer .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}
#footer .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}
#footer .social-networks a:hover {
    text-decoration: none;
}
#footer .github:hover {
    color: #f444e1;
}
#footer .instagram:hover{
    color: #f444e1;
}
@media (max-width: 767px) {
    .post-title{
        padding-top:15px;
        font-size: 20px;
        line-height: 25px;
    }
    #footer {
        text-align: center;
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #f444e1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #f444e1;
        background-color: #3c3d41;
    }
}
@media (max-width : 319px) {
    .post-title{
        padding-top:5px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 10px;
    }
}
@media (min-width : 320px) {
    .post-title{
        padding-top:10px;
        font-size: 16px;
        line-height: 18px;
        margin-top: 10px;
    }
}

@media (min-width : 480px) {
    .post-title{
        padding-top:5px;
        font-size: 20px;
        line-height: 30px;
        margin-top: 70px;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (72px - line-height of 27px) / 2 = 22.5px */
        padding-top: 22.5px;
        padding-bottom: 22.5px;
        line-height: 27px;
        .post-meta-group-2{
            text-align: right;
        }
    }
    .post-title{
        padding-top:10px;
        font-size: 30px;
        line-height: 35px;
        margin-top:80px;
        
    }
}
@media only screen and (min-width : 992px) {
    .post-title{
        padding-top:10px;
        font-size: 30px;
        line-height: 35px;
        margin-top:120px;
    }

}
@media (min-width: 1200px) {
    .post-title{
        padding-top:10px;
        font-size: 55px;
        line-height: 60px;
        margin-top:180px;
    }
}

